.bwtitle {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    background: #ff5600;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-shadow: 1px 1px 1px #333;
}

.main-bg {
    height: auto;
    padding: 10px;
    overflow: hidden;
}

.main {
    overflow: hidden;
    border-radius: 5px;
    background: #fafafa;
    padding: 10px;
    box-shadow: 0 1px 2px 2px #E4E4E4;
}

.main dl {
    width: 100%;
    font-size: 14px;
    margin: 10px 0px;
    overflow: hidden;
    clear: both;
}

.main dl.dl dt {
    float: left; /*display: block;*/
    height: 34px;
    line-height: 34px; /* text-align:left; clear:both;padding:0px; margin:0px;*/
    width: 60px;
}

.main dl.dl dd { /*width:100%;*/
    min-height: 34px; /*clear:both;padding:0px; margin:0px;*/
    margin-left: 70px;
}

.main dl.dl dd input {
    font-size: 14px;
}

.main dl.dl dd input[type="radio"] {
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    margin: 3px 6px 9px 0;
}

.main dl.dl dd label {
    padding-right: 15px;
    clear: both;
    text-align: left;
    float: left;
}

.main dl.dl dd select[name="option"] {
    height: 34px;
    line-height: 34px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px 10px;
    width: 100%;
}

.main dl.dl dd select {
    height: 34px;
    line-height: 34px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px 2%;
    width: 32.3%;
    font-size: 14px;
}

.main dl.dl dd ul li {
    line-height: 20px;
    float: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    overflow: hidden;
}

.main dl.dl dd ul input[type="checkbox"] {
    display: none;
}

.main dl.dl dd ul .ul-no {
    border: 2px solid #F40;
    color: #F40;
}

.main dl.dl dd ul ol {
    float: left;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px 5px 0;
    cursor: pointer;
}

.main dl.dl dd ul ol img {
    width: 54px;
    height: 54px;
}

.main dl.dl dd ul span {
    display: inline-block;
    padding: 5px 7px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px 10px 5px 0;
    cursor: pointer;
}

.main dl.dl dd ul span em {
    padding-left: 5px;
}

.main dl.dl dd ul span img {
    width: 54px;
    height: 54px;
}

.main dl.dl dd a {
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    border: 1px solid #CCC;
    cursor: pointer;
    background: url(/images/jjh.gif) no-repeat;
}

.main dl.dl dd a.dec {
    background-position: 0 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.main dl.dl dd a.lnc {
    background-position: -26px 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main dl.dl dd #num {
    float: left;
    width: 50px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-width: 1px 0;
    border-radius: 0;
    padding: 0px;
    border: 1px solid #CCC;
}

.main dl.dl dd strong {
    float: right;
    height: 26px;
    line-height: 26px;
    font-size: 28px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #F40;
}

.main dl.dl dd input[type="text"] {
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 94%;
    padding: 0px 2%;
}

.main dl.dl dd input[type="tel"] {
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 94%;
    padding: 0px 2%;
}

.main dl.dl dd .textarea {
    display: block;
    width: 96%;
    padding: 1%;
    height: 60px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: "微软雅黑";
    font-size: 14px;
}

.main dl.dl dd b {
    font-weight: normal;
    border: 2px solid #ccc;
    line-height: 34px;
    line-height: 34px;
    margin: 5px 2px;
    border-radius: 3px;
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
}

.main dl.dl dd input[name="sms"] {
    width: 55% !important;
}

.main dl.dl dd .sms-bg {
    background: #666;
    color: #fff;
}

.main dl.dl dd i {
    float: right;
    width: 35%;
    text-align: center;
    line-height: 34px;
    background: #F40;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.main dl.dl dd b.b-no {
    border: 2px solid #F40;
    color: #F40;
}

.main dl.dl dd b.huodao {
    background: url(/images/car.jpg) no-repeat 5px center;
    background-size: 23px 23px;
    padding-left: 33px;
}

.main dl.dl dd b.alipay {
    background: url(/images/alipay.jpg) no-repeat 5px center;
    background-size: 23px 23px;
    padding-left: 33px;
}

.main dl.dl dd b.wechat {
    background: url(/images/wxpay.jpg) no-repeat 5px center;
    background-size: 23px 23px;
    padding-left: 33px;
}

.main dl.dl dd b.alipaycode {
    background: url(/images/alipay.jpg) no-repeat 5px center;
    background-size: 23px 23px;
    padding-left: 33px;
}

.main dl.dl dd b.wechatcode {
    background: url(/images/wxpay.jpg) no-repeat 5px center;
    background-size: 23px 23px;
    padding-left: 33px;
}

.main dl.dl p {
    padding: 3px 5px;
    border-radius: 3px;
    margin-top: 10px;
    color: #F40;
    border: 1px solid #F40;
    line-height: 20px;
    display: none;
}

.main dl.dl p.dis-show {
    display: block;
}

.submit {
    text-align: center;
    width: 96%;
    padding: 3% 0px;
    background: #e30;
    margin: 3% auto;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}

.fahuo {
    height: 260px;
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
}

.fahuo ul {
    overflow: hidden;
}

.fahuo ul li {
    padding: 10px 0px;
    color: #666;
    overflow: hidden;
}

.query {
    width: 100%;
}

.query-l {
    width: 80%;
}

.query-l input[type="tel"] {
    width: 96%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px 2%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}

.query-r {
    width: 18%;
}

.query-r span {
    width: 100%;
    text-align: center;
    background: #ff5600;
    display: inline-block;
    font-size: 16px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #333;
}

@media screen and (max-width: 500px) {
    .main dl.dl dd strong {
        font-size: 20px;
    }

    .submit {
        font-size: 16px;
    }

    .fahuo ul li {
        padding: 6px 0px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .main dl.dl dd select {
        width: 48.5%;
    }
}
.num {
    width: 50px;
    height: 25px
}
.goods_num_button {
    width: 40px;
    height: 30px
}