*{
	margin: 0;
	padding: 0;
	font-family:"Source Han Sans CN";
}
body{
	background-image: url(../images/bg_1.png);
}
header{
	background-color: #FFFFFF;
}
@media screen and (max-width: 750px) {
	html{
		width: 100%;
	}
	#content{
		width: 100%;
		margin: 0 auto;
		position: relative;
		min-height: 300px;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
	}
	.box_left{
		background-color: #FFFFFF;
		width: 80%;
		margin-left: 5%;
		padding: 0 5%;
	}
	.box_right{
		background-color: #FFFFFF;
		margin-left: 30px;
		width: 240px;
		height:auto;
		clear:both;
	}
	.text{
		margin: 0 auto;
		padding-top: 40px;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: dashed 1px #d8d8d8;
	}
	.text p:nth-child(1){
		margin-bottom: 5px;
		font-size: 1.7em;
	}
	.box_left_c{
		margin: 0 auto;
		padding: 20px 0;
	}
	.img{
		margin-top: 20px;
		text-align: center;
	}
	.img img{
		max-width: 100%;
		margin: 0 auto;
	}
	.share{
		margin: 20px 0 20px 50px;
		display: flex;
	}
	.text_r{
		width: 200px;
		margin: 0 auto;
		height: 103px;
		line-height: 100px;
		font-size: 24px;
		border-bottom: dashed 1px #d8d8d8;
	}
	.text_list{
		width: 200px;
		margin: 0 auto;
	}
	.text_list p {
		margin: 10px 0;
	}
	.btn{
		margin: 20px auto;
		display: flex;
		justify-content:space-between;
	}
	.btn div{
		width: 80px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background-color: #e2e2e2;
		border-radius: 10px;
	}
	.topNEXT {
		line-height: 40px;
	}
}
@media screen and (min-width: 750px) {
	#content{
		width: 1200px;
		margin: 0 auto;
		position: relative;
		left: 50px;
		min-height: 300px;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
	}
	.box_left{
		background-color: #FFFFFF;
		width: 930px;
	}
	.box_right{
		background-color: #FFFFFF;
		margin-left: 30px;
		width: 240px;
		height:auto;
		clear:both;
	}
	.text{
		margin: 0 auto;
		padding-top: 40px;
		text-align: center;
		padding-bottom: 10px;
		width: 830px;
		border-bottom: dashed 1px #d8d8d8;
	}
	.text p:nth-child(1){
		margin-bottom: 5px;
		font-size: 20px;
	}
	.box_left_c{
		margin: 0 auto;
		padding: 20px 0;
		width: 830px;
	}
	.img{
		margin-top: 20px;
		text-align: center;
	}
	.img img{
		max-width: 100%;
		margin: 0 auto;
	}
	.share{
		margin: 20px 0 20px 50px;
		display: flex;
	}
	.text_r{
		width: 200px;
		margin: 0 auto;
		height: 103px;
		line-height: 100px;
		font-size: 24px;
		border-bottom: dashed 1px #d8d8d8;
	}
	.text_list{
		width: 200px;
		margin: 0 auto;
	}
	.text_list p {
		margin: 20px 0;
	}
	.btn{
		margin: 20px auto;
		width: 830px;
		display: flex;
		justify-content:space-between;
	}
	.btn div{
		width: 80px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background-color: #e2e2e2;
		border-radius: 10px;
	}
	.topNEXT {
		float: left;
		margin-right: 50px;
		margin-left: 50px;
		line-height: 40px;
	}
}