<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/company.css" />
		<link rel="stylesheet" href="css/top.css" />
		<link rel="stylesheet" href="css/foot.css" />
		<script src="js/jquery-3.3.1.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" /> 
	</head>
	<body>
		<header>
			<div id="myheader">
				<div class="logo">
					<img src="img/logo.png" alt="">
				</div>
				<div class="phone_menu">
					<img src="img/caidan.png" alt="">
				</div>
				<div class="menu">
					<ul>
						<li>
							<a href="home.html">首页</a>
						</li>
						<li>
							<a href="company.html">公司介绍</a>
						</li>
						<li>
							<a href="intreduce.html">系统介绍</a>
						</li>
						<li>
							<a href="news.html">新闻中心</a>
						</li>
						<li>
							<a href="contact.html">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section class="banner">
			<img src="img/banner02.png" alt="">
		</section>
		<section id="content">
			<div class="intreduce_text">
				<p class="red font_m">COMPANY INTREDUCE</p>
				<p class="gray font_m">公司介绍</p>
			</div>
			<div class="company_c">
				公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍公司介绍
			</div>
		</section>
		<footer id="footer">
			<div class="footer_box">
				<div class="footer_yq white">
					友情链接：四川猪太帅科技有限公司
				</div>
				<div class="footer_box_b">
					<div>
						<div class="footer_menu">
							<ul>
								<li>
									<a href="home.html">首页</a>
								</li>
								<li>
									<a href="company.html">公司介绍</a>
								</li>
								<li>
									<a href="intreduce.html">系统介绍</a>
								</li>
								<li>
									<a href="news.html">新闻中心</a>
								</li>
								<li>
									<a href="contact.html">联系我们</a>
								</li>
							</ul>
						</div>
						<div class="footer_text">
							<div class="footer_text_">
								<p>四川猪太帅科技有限公司</p>
								<p>电话：17323057831</p>
								<p>邮箱：2052728227@qq.com</p>
								<p>客服QQ：2052728227</p>
								<p>地址：成都市武侯区佳灵路红牌楼广场2号楼601室</p>
							</div>
							<div class="footer_img">
								<div>
									<img src="img/jzr.png" alt="">
									<p>建筑人官方微信公众号</p>
								</div>
								<div>
									<img src="img/jzr.png" alt="">
									<p>建筑人官方微信公众号</p>
								</div>
							</div>
						</div>
					</div>
					<div class="footer_from">
						<p class="white">预约体验</p>
						<input type="text" placeholder="企业名称">
						<input type="text" placeholder="联系人">
						<input type="text" placeholder="联系电话">
						<button>提交</button>
					</div>
				</div>
			</div>
		</footer>
		<script src="js/top.js"></script>
	</body>
</html>
